<%- include("./header.ejs") %>

<ul class="list-inline menu-left mb-0">
    <li class="list-inline-item">
        <button type="button" class="button-menu-mobile open-left waves-effect">
            <i class="ion-navicon"></i>
        </button>
    </li>
    <li class="hide-phone list-inline-item app-search">
        <h3 class="page-title">New Student</h3>
    </li>
</ul>

<div class="clearfix"></div>

</nav>

</div>
                    <div class="page-content-wrapper ">

                        <div class="container-fluid">
                           <form action="addStudent" method="post" enctype="multipart/form-data">
                             <div class="row">
                                 <div class="col-md-3">
                                    

                                      
                                        <div class="card ">
                                            <img class="card-img-top img-fluid" src="http://placehold.it/263X263" height="500px"id="output" alt="Card image cap">
                                            <div class="card-body">
                                                <input type="file" name="img" accept="image/*"  required  onchange="loadFile(event)" class="btn btn-primary btn-block">
                                                
                                            </div>
                                        </div>
    
                                  
                                 </div>
                                 <div class="col-md-9">
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Select Class</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" name="className" required>
                                              
                                                <option value="Default" selected>Default</option>
                                                <% classes.forEach(element => { %>
                                                    <option value="<%=element._id%>"><%= element.className %></option>
                                                <% }) %> 
                                            </select>
                                        </div>
                                    </div>
                            <div class="form-group row">
                                <label for="example-search-input" class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" required name="name" placeholder="Enter Name" >
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-search-input" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                    <input class="form-control" required type="email" placeholder="jhon@example.com" name="email" id="example-search">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Gender</label>
                                <div class="col-sm-10">
                                    <select class="form-control" name="gender" required>
                                        <option disabled selected>Select</option>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-date-input"  class="col-sm-2 col-form-label">Date of Birth</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="date" name="dob" required id="example-date-input">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-search-input" class="col-sm-2 col-form-label">Address</label>
                                <div class="col-sm-10">
                                    <textarea rows="5" style="width: 100%" required name="address"></textarea>
                                </div>
                            </div>
                           
                            <div class="form-group row">
                                <label for="example-date-input" class="col-sm-2 col-form-label">Sign in Date</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="date" name="signinDate" required id="example-date-input">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="example-date-input" class="col-sm-2 col-form-label">Semester Counter</label> 
                                <div class="col-sm-10">
                                    <input class="form-control" type="number" name="semCount" placeholder="Enter Semester Number" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-date-input" class="col-sm-2 col-form-label">Instrumental Model</label> 
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" placeholder="model..." name="instrumentModel" required>
                                </div>
                            </div>

                            <div class="form-group text-center row m-t-20">
                                <div class="col-12">
                                    <button id ="addStudentButton" class="btn btn-primary btn-block waves-effect waves-light" type="submit">Add Student</button>
                                </div>
                            </div>


                        </div>
                    </div>
                </form>
                    </div>
                    </div>
                    <script>
     var loadFile = function(event) {
      var image = document.getElementById('output');
      console.log(image)
      image.src = URL.createObjectURL(event.target.files[0]);
    };
                    </script>

<%- include("./footer.ejs") %>