<%- include("./header.ejs") %>
<ul class="list-inline menu-left mb-0">
    <li class="list-inline-item">
        <button type="button" class="button-menu-mobile open-left waves-effect">
            <i class="ion-navicon"></i>
        </button>
    </li>
    <li class="hide-phone list-inline-item app-search">
        <h3 class="page-title">Music Album Details</h3>
    </li>
</ul>

<div class="clearfix"></div>

</nav>

</div>
                    <div class="page-content-wrapper ">

                        <div class="container-fluid">
                            <div class="row">
                            
                                <div class="col-md-10"></div>
                                <div class="col-md-2">
                                    <a href="/student"> <button type="button" class="btn btn-dark btn-block"><i class="fa fa-plus"></i>Add New</button></a>
                                 </div>
                                </div>
                                <br>
                            <div class="row" >
                                <div class="col-md-4">
                                
                                  </div>
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                    <input type="text" id="myInput" class="form-control" placeholder="Search ...">
                                </div>
                            </div>

                           
                                <div class="table-rep-plugin">
                                    <div class="table-responsive b-0" data-pattern="priority-columns">
                                        <table id="tech-companies-1" class="table  table-striped" style="margin-left:auto; margin-right:auto">
                                            <thead>
                                            <tr>
                                                
                                                <th data-priority="1">Year</th>
                                                <th data-priority="2">Composer Name</th>
                                                <th data-priority="3">Stückname</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                               
                                                <td>1997</td>
                                                <td>Gourab</td>
                                                <td>XYZ</td>
                                                <td>
                                                    <button type="button" class="btn btn-primary"><i class="fa fa-plus"></i></button>

                                                </td>
                                            </tr>
                                            <tr>
                                               
                                                <td>1997</td>
                                                <td>Gourab</td>
                                                <td>XYZ</td>
                                                <td>
                                                    <button type="button" class="btn btn-primary"><i class="fa fa-plus"></i></button>

                                                </td>
                                            </tr>
                                          
                                            <tr>
                                               
                                                <td>1997</td>
                                                <td>Gourab</td>
                                                <td>XYZ</td>
                                                <td>
                                                    <button type="button" class="btn btn-primary"><i class="fa fa-plus"></i></button>

                                                </td>
                                            </tr>
                                          
                                            
                                            </tbody>
                                        </table>
                                        
                                    </div>

                                </div>
                                
                            

                               
                            

                  
                        </div><!-- container-fluid -->


                    </div>


<%- include("./footer.ejs") %>