<%- include("./header.ejs") %>
<ul class="list-inline menu-left mb-0">
    <li class="list-inline-item">
        <button type="button" class="button-menu-mobile open-left waves-effect">
            <i class="ion-navicon"></i>
        </button>
    </li>
    <li class="hide-phone list-inline-item app-search">
        <h3 class="page-title">Albums</h3>
    </li>
</ul>

<div class="clearfix"></div>

</nav>

</div>
                    <div class="page-content-wrapper ">

                        <div class="container-fluid">
                            <div class="row" >
                                <div class="col-md-4">
                                
                                  </div>
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                    <input type="text" id="myInput" class="form-control" placeholder="Search ...">
                                </div>
                            </div>

                            <script>
									
                             
                                </script>
                            <div class="row" style="margin-top:4px;">
                                <div class="col-md-4 col-lg-4 col-xl-4">

                                    <div class="card m-b-20">
                                        <div class="card-body">
                                            <h4 class="card-title font-20 mt-0">Mozart</h4>
                                            
                                        </div>
                                        <img class="img-fluid" src="/assets/images/small/img-4.jpg" alt="Card image cap">
                                        <div class="card-body">
                                         
                                            <a href="/album/detail" class="card-link">View</a>
                                            
                                        </div>
                                    </div>

                                </div> 

                                <div class="col-md-4 col-lg-4 col-xl-4">

                                    <div class="card m-b-20">
                                        <div class="card-body">
                                            <h4 class="card-title font-20 mt-0">Card title</h4>
                                            
                                        </div>
                                        <img class="img-fluid" src="assets/images/small/img-4.jpg" alt="Card image cap">
                                        <div class="card-body">
                                           
                                            <a href="#" class="card-link">View</a>
                                            
                                        </div>
                                    </div>

                                </div>

                                <div class="col-lg-4 ">
                                    <div class="card m-b-20 card-body text-center">
                                        <h4 class="card-title font-20 mt-0">New Album</h4>
                                       <p style="font-size:100px;"><i class="fa fa-plus-circle"></i></p>
                                        <a href="#" class="btn btn-primary waves-effect waves-light"><i class="fa fa-plus-circle"></i>Add New</a>
                                    </div>
                                </div>
                            </div>

                  
                        </div><!-- container-fluid -->


                    </div>


<%- include("./footer.ejs") %>