<%- include("./header.ejs")  %> 

<ul class="list-inline menu-left mb-0">
    <li class="list-inline-item">
        <button type="button" class="button-menu-mobile open-left waves-effect">
            <i class="ion-navicon"></i>
        </button>
    </li>
    <li class="hide-phone list-inline-item app-search">
        <h3 class="page-title">Add Concert</h3>
    </li>
</ul>

<div class="clearfix"></div>

</nav>

</div>
                    <div class="page-content-wrapper ">

                        <div class="container-fluid">
                           <form action="" method="post">
                             <div class="row">
                                 
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label for="example-search-input" class="col-sm-2 col-form-label">Title</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="text" required name="title" placeholder="Enter Name" id="concert-title">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-search-input" class="col-sm-2 col-form-label">Location</label>
                                <div class="col-sm-10">
                                    <input class="form-control" required type="text" placeholder="Enter Location" name="location" id="location">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="example-date-input" class="col-sm-2 col-form-label">Date</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="date" value="2011-08-19" id="example-date-input" name = "dates">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="example-time-input" class="col-sm-2 col-form-label">Start Time</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="date" name="dates"  id="date">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="example-time-input" class="col-sm-2 col-form-label">End Time</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="time" value="00:00:00" id="example-time-input" name = "endTime">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="example-date-input"class="col-sm-2 col-form-label">Start Time</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="time" name="startTime"  id="startTime">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-date-input"class="col-sm-2 col-form-label">End Time</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="time" name="endTime"  id="endTime">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-search-input" class="col-sm-2 col-form-label">Comments</label>
                                <div class="col-sm-10">
                                    <textarea rows="5" style="width: 100%" name="commentar" id = "commentar"></textarea>
                                </div>
                            </div>
                           
                            
                            <button type="submit" class="btn btn-primary waves-effect waves-light" id = "addConcert">Create</button>

                            <button type="button" class="btn btn-info waves-effect waves-light">Update</button>



                        </div>

                        <div style="overflow-x:auto; " class="col-md-6" >
                            
                            <table id="datatable" class="table table-bordered dt-responsive nowrap" cellspacing="0" width="100%" border="1">
                                <thead>
                                <tr>
                                    <th>Student Name</th>
                                    <th>Add</th>
                                </tr>
                                </thead>

                                <tbody>
                                    <% students.forEach(element => { %>
                                     <tr>
                                         <td> <%= element.name %> </td>
                                         <td><input type="checkbox" class="studentid" name="studentid[]"  value= <%= element._id %>></td>
                                         
                                     </tr>
                                    <% }) %>
                                </tbody>

                            </table>
                        
                        </div>
                    </div>
                </form>
                    </div>
                    </div>

     

<%- include("./footer.ejs")  %> 
