</div> <!-- content -->

<footer class="footer">
    © 2020 - 2021 Music Orgnizer - By theMatrix.
</footer>

</div>
<!-- End Right content here -->

</div>
<!-- END wrapper -->


<!-- jQuery  -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/tether.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/modernizr.min.js"></script>
<script src="/assets/js/detect.js"></script>
<script src="/assets/js/fastclick.js"></script>
<script src="/assets/js/jquery.slimscroll.js"></script>
<script src="/assets/js/jquery.blockUI.js"></script>/
<script src="/assets/js/waves.js"></script>
<script src="/assets/js/jquery.nicescroll.js"></script>
<script src="/assets/js/jquery.scrollTo.min.js"></script>

<!--Morris Chart-->
<script src="/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
        <script src="/assets/plugins/moment/moment.js"></script>
        <script src='/assets/plugins/fullcalendar/js/fullcalendar.min.js'></script>
        <script src="/assets/pages/calendar-init.js"></script>

        <!-- App js -->
<script src="/assets/js/app.js"></script>

<script src="/assets/plugins/morris/morris.min.js"></script>
<script src="/assets/plugins/raphael/raphael-min.js"></script>

<script src="/assets/pages/dashborad.js"></script>

<!-- App js -->
<script src="/assets/js/app.js"></script>

</body>

<!-- Mirrored from themesdesign.in/admiry/blue/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 16 Feb 2021 08:39:34 GMT -->
</html>